{% extends 'base.html' %}
{% load static %}
{% block title %}Search{% endblock %}

{% block content %}
<h1>Search</h1>
<hr class="mt-4">

<div class="mt-4">
    <form action="" method="GET">
        <input type="text" name="query" placeholder="Search users" class="border p-2" required>
    </form>
</div>

<div class="mt-4">
{% if users %}
    <ul>
        {% for user in users %}
        <li>
            <a href="{% url 'profile' user.username %}" class="text-gray-300 hover:underline">
                {{ user.username }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No users found matching "{{ query }}".</p>
{% endif %}
</div>


{% endblock %}